In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('imdb_top_1000.csv')
df.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [3]:
df.columns = map(str.lower,df.columns)

In [4]:
df.series_title = df.series_title.apply(lambda x: x.lower())

In [5]:
df.genre = df.genre.apply(lambda x: x.replace(',',' '))

In [6]:
df.star1 = df.star1.apply(lambda x: x.replace(' ',''))
df.star2 = df.star2.apply(lambda x: x.replace(' ',''))
df.star3 = df.star3.apply(lambda x: x.replace(' ',''))
df.star4 = df.star4.apply(lambda x: x.replace(' ',''))

In [7]:
df['stars'] = df.star1 +" "+ df.star2 +" " + df.star3 +" "+ df.star4

In [8]:
df = df[['series_title','genre','overview','director','stars']]

In [9]:
df.head(2)

,series_title,genre,overview,director,stars
0,the shawshank redemption,Drama,Two imprisoned men bond over a number of years...,Frank Darabont,TimRobbins MorganFreeman BobGunton WilliamSadler
1,the godfather,Crime Drama,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,MarlonBrando AlPacino JamesCaan DianeKeaton

In [10]:
df['tags'] = df.overview + " " + df.genre + " " + df.director + " " + df.stars

In [11]:
df.series_title.nunique()

999

In [12]:
df = df[['series_title','tags']]

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
cv = CountVectorizer(max_features=df.series_title.nunique(),stop_words='english')

In [15]:
vector = cv.fit_transform(df.tags).toarray()

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
similarity = cosine_similarity(vector)

In [18]:
def recommend(movie,n):
    print(movie.title().center(50,'_'))
    
    index = df[df.series_title == movie].index[0]
    
    df['similarity'] = list(similarity[index])
    
    distances = sorted(list(enumerate(similarity[index])),reverse =True,key = lambda x: x[1])
    
    for j,i in enumerate(distances[1:n],start = 1):
        print(f"{j}->\t{df.iloc[i[0]].series_title.title()}\nSimilarity: {round(df.iloc[i[0]].similarity,2)}\n")
        
    df.drop('similarity',axis = 1,inplace = True)

In [19]:
def choice():
    choice = input("\nPress any key to contine or press 'e' to exit: ")
    print('\n')
    if choice.lower().strip() == 'e':
        return False
    return True

In [23]:
while True:
    try:
        title = input("\nEnter the movie name: ").lower().strip()
        n = int(input("Number of similarity: "))
        print('\n')
        if n >df.series_title.nunique():
            print(f"Number of similarity max value is {df.series_title.nunique()} !\n")
            continue
        recommend(movie = title,n = n+1)
    except Exception as ex:
        print("Invalid movie name or number of similarity!")
        
        if choice() == False:
            break
    else:
        if choice() == False:
            break

Enter the movie name: interstellar
Number of similarity: 5


___________________Interstellar___________________
1->	The Martian
Similarity: 0.44

2->	Gattaca
Similarity: 0.44

3->	The Prestige
Similarity: 0.42

4->	Inception
Similarity: 0.4

5->	28 Days Later...
Similarity: 0.39


Press any key to contine or press 'e' to exit: the dark knight



Enter the movie name: the dark knight
Number of similarity: 5


_________________The Dark Knight__________________
1->	Batman Begins
Similarity: 0.6

2->	The Prestige
Similarity: 0.42

3->	The Dark Knight Rises
Similarity: 0.39

4->	300
Similarity: 0.35

5->	K.G.F: Chapter 1
Similarity: 0.33


Press any key to contine or press 'e' to exit: e